// [----- COLOR -----] //
$dark_light             : #363636;
$blue-bold              : #01a1d1;
$blue-light             : #a4e2fe;
$gray                   : #707070;
$gray_light             : #aaaaaa;
$gray_light_3           : #eeeeee;
$gray_light_2           : #cccccc;
$aside                  : #f8f8f8;
$white                  : #fff;
$black                  : #000;
$pink                   : #e51498;
$fb                     : #287ce9;
$ln                     : #239dd4;
$red                    : #ff4a56;
$error                  : #e3000f;
$blue                    : #01a1d1;